root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
indent_style = space
indent_size = 4
csharp_using_directive_placement = outside_namespace
dotnet_diagnostic.IDE0065.severity = warning
dotnet_diagnostic.SA1200.severity = none
dotnet_diagnostic.SA1201.severity = none
dotnet_diagnostic.SA1101.severity = none
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.DocumentationRules.severity = none
dotnet_diagnostic.CS1591.severity = none
dotnet_diagnostic.SA1629.severity = warning
dotnet_diagnostic.CS8604.severity = none
dotnet_diagnostic.CS8625.severity = none
dotnet_diagnostic.CS8600.severity = none